
*{
  font-family: 'Roboto Condensed', sans-serif;
  color: #b2adcc;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

/* navbar */

.nav_bar{
  background: #161326;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 200;
  display: flex;
  justify-content: space-between;
}

.nav_logo{
  display: flex;
  align-items: center;
}

.nav_menu{
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav_menu a{
  padding: 19px 0;
}

.nav_menu a:hover{
  color: #f4f2ff;
  
}

.nav_menu li{
  padding: 0 18px;
}

.download_btn{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.download_btn a{
  padding: 6px 13px ;
  outline: solid thin;
}

.download_btn a:hover{
  background: #797399;
}

.social_icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_icons a{
  padding: 5px;
}

/* banner */

.overlay h1{
  font-size: 5rem;
  text-transform: uppercase;
}

.video-container {
  position: relative;
  z-index: 99;

}

.fire_vid{
  width: 100%;
  height: auto;
  background: transparent;
}

.overlay{
  z-index: 101;
  width: 100%;
  top: 39%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: transparent; */
  margin: auto;
}

.overlay{
  /* background: transparent; */
  background: rgba(0, 0, 0, .01);
}

.overlay_left h1,h2,a{
  background: rgba(0, 0, 0, .01);
}

.overlay_right{
  background: rgba(0, 0, 0, .01);
}

.overlay_right img{
  background: transparent;
  background-size: cover;
}




.footerimg{
  text-align: center;
}

.footerimg img{
  display: block;
    margin-left: 50px;
    margin-right: -49px;
    width: 77%;
    margin-top: 53px;
}

.footerwrapper{
  display: flex;
  background-color: #161326;
}

#footermenutoplist ul{
  padding: 0;
}


.footermenu{
  color: #b2adcc;

}

.footermenu ul{
  /* display: table; */
  list-style-type: none;
  padding: 28px;
  margin: 0;
}

.footermenu a{
  /* display: block; */

}
#footermenutoplist{
  display: inline-block;
  padding-left: 53px;
  vertical-align: top;
}

.footermenu li{
  /* float: left; */
 /* display: block; */
}


.button1{
 color: #f4f2ff;
 background: #e6004c;
 border: none;
}

.button2{
  background: transparent;
  border: 2px solid #797399;
  color: #f4f2ff;
  font-size: 16px;
}

.section6 p{
  color: #b2adcc;
}

.section6{
 text-align: center;
 padding: 70px;
 background-color: #201c33;
 color: #f4f2ff;
}


.section5left img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo img{
  width: 180px;
  height: 200px;
}

.section5left{
 text-align: left;
 flex: 1;
}

.section5right{
  display: grid;
  grid-template-columns: auto auto auto;
  flex: 1.75;
  grid-gap: 2em;
  justify-content: center;

}

.section5{
  background-color: #231b4c;
  color: white;
  display: flex;
  padding: 20px;

}


.article{
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 2;
  color: yellow;
}

.boxbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* text-align: left; */
}

.boxbox img{
  width: 350px;
  height: 230px;
}

.box1,
.box2,
.box3{
  flex-basis: 50%;
  min-height: 230px;
  position: relative;
  z-index: 1;
  background-size: contain;
}

.box3{
  margin: auto;
}

.section4 {
  background-color: #201c33;
  padding: 15px;
}
.section4 h4{
  text-align: center;
}

.section3title h2{
  padding: 30px;
}

.section31,
.section32,
.section33{
  flex:1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section3article{
  display: flex;
}

/* .section3title{
  display: block;
} */

.section3{
  color: white;
  text-align: center;
}

.learnmore button{
  background-color:transparent;
  color: white;
  border-color: white;
    border-style: solid;
  border-width: 1px;
}

.section2{
  color: white;
}


.development2title{
  padding-left: 40px;
  margin-bottom: 70px;
}

.dev21,
.dev22,
.dev23{
  flex: 1;
  text-align: center;
}

.development2{
  display: flex;
}


.development{
  position: relative;
}

.buttons button{
  padding-left: 35px;
  padding-right: 35px;
  margin: 8px;
  text-align: center;
}

.buildapp{
  background-color: red;
}

.appstore{
  background-color: transparent;
}

.devright{
  position:absolute;
    z-index:1;
    bottom: 3%;
    left: 15%;
}

.devright img{
  margin: 25px;
}


.devleft{
  position:absolute;
    z-index:1;
    top: 13%;
    left: 6%;
    color: white;
}





/* .development{
  background-image: url('landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
} */


/* 
.overlay_right{
  position:absolute;
    z-index:1;
    top:20%;
    right:10%;
}
.overlay_left{
  position:absolute;
    z-index:1;
    top:20%;
    left:5%;
} */



